@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0c0c0d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0c0c0d;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter';
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .btn-text {
    @apply text-[14px] leading-[130%] font-semibold font-sans;
  }

  .heading1 {
    @apply text-[24px] leading-[100%] font-bold text-gray-100 font-sans;
  }
  font-sans .heading2 {
    @apply text-[14px] leading-[100%] font-bold text-gray-100 font-sans;
  }

  .tag {
    @apply text-[12px] leading-[130%] font-normal tracking-wider text-gray-200 font-sans;
  }
}
